/*
  Offline Layout CSS
 */
.top {
  background-image: url('../image/line-bg1.png');
  background-repeat: repeat;
  border-bottom: 1px solid #DFDFDF;
}
.top .columns {
  float: none;
  display: table-cell;
  vertical-align: middle;
}
.top .top-container {
  height: 98px;
  display: table;
}
.top .p10 {
  padding-left: 10px;
  padding-right: 10px;
}
.top .pl20 {
  padding-left: 20px;
}
.top .pl30 {
  padding-left: 30px;
}
.top .pl40 {
  padding-left: 40px;
}
.top .pr20 {
  padding-right: 20px;
}
.activation-desc-title {
  color: #bc3537;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
}
.activation-desc-text {
  color: #d4623f;
  line-height: 16px;
}
.login-btn {
  float: right !important;
}
.middle {
  padding: 60px 0;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -35px;
  /* the bottom margin is the negative value of the footer's height */
}
.bottom {
  background-color: #FBFBFB;
  border-top: 1px solid #DFDFDF;
  height: 40px;
}
.footer .row{
  margin-bottom: 0;
}
.footer .copyright-container img{
  margin-bottom: auto !important;
}

/*.footer {
  height: 20px;
  padding: 10px 0;
}*/
.footerlist {
  margin-bottom: 0;
}
.footerlist li {
  display: inline;
  float: left;
  margin-right: 15px;
}
.footer select {
  float: right !important;
  margin-bottom: 0;
}

input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a, a:visited, a:active {
  color: #d75757;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}
.align-right {
  text-align: right;
  float: right !important;
}
.center {
  margin: 0 auto;
  clear: both;
  display: block;
}
.black {
  color: #000 !important;
}
.radius-s {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.radius-m {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.radius-l {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.bord {
  font-weight: 700;
}
.outlink-icon {
  padding-right: 12px;
  background: url(../image/outlink-icon.png) bottom right no-repeat;
}
.box-border {
  border: 1px solid #E5E5E5;
}
.box-gray {
  background-color: #F1F1F1;
}
.tiup-icon {
  background: url(../image/tiup-icon1.png) #f1f1f1 top right no-repeat;
}
.error {
  color: #9c232a !important;
  text-align: left;
  display: none;
}
.formbox {
  padding: 35px 20px;
}
.formbox h6 {
  color: #000;
}
.formbox input {
  width: 97%;
}
.medium-input {
  width: 80% !important;
  margin-left: 10% !important;
}
.btn_a{
  color: #fff !important;  
}
.next-btn {
  float: right !important;
  color: #FFFFFF;
  background-image: none;
  background-color: #d75757;
  border-color: #891524;
  border-radius: 4px;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
  background-image: -moz-linear-gradient(top, #d75757, #d75757);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d75757), to(#d75757));
  background-image: -webkit-linear-gradient(top, #d75757, #d75757);
  background-image: -o-linear-gradient(top, #d75757, #d75757);
  background-image: linear-gradient(to bottom, #d75757, #d75757);
}
.next-btn:hover,
.next-btn:active,
.next-btn:focus,
.next-btn.active,
.next-btn.disabled,
.next-btn[disabled] {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #d75757;
  background-position: 0;
  background-image: -moz-linear-gradient(top, #d75757, #d75757);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d75757), to(#d75757));
  background-image: -webkit-linear-gradient(top, #d75757, #d75757);
  background-image: -o-linear-gradient(top, #d75757, #d75757);
  background-image: linear-gradient(to bottom, #d75757, #d75757);
}
.info {
  width: 97%;
  padding: 6px 4px;
  border: 1px solid #C0C0C0;
  background-color: #F1F1F1;
  float: left;
}
.info-left {
  float: left;
  text-align: left;
}
.info-right {
  float: right;
  text-align: right;
}

.x_left { text-align: center;}
.x_left_p {font-size: 14px; line-height: 25px;}
.diff_left_p{ width: 500px; margin: 0 auto; margin-bottom: 10px; text-align: left;}
.x_left_i {margin: 30px 0 20px 0;}
.x_a { color:#434c95; margin:0 3px;}
.x_text_center {text-align: center;}
.x_serv_item {cursor: pointer; margin: 15px 0 20px; padding: 25px 20px; background-color: #f6f6f6; border-radius: 3px; -webkit-box-shadow: 1px 1px 1px #cfcfcf; box-shadow: 1px 1px 1px #cfcfcf;}
.x_serv_item {-webkit-transition: 300ms; -moz-transition: 300ms; transition: 300ms;}
.x_serv_item:hover {-webkit-box-shadow: 1px 2px 1px #cfcfcf; box-shadow: 1px 2px 1px #cfcfcf;
-webkit-transform: translateY(-2px); -moz-transform: translateY(-2px); transform: translateY(-2px);}
.x_serv_item .title {font-size: 18px; color: #666; line-height: 24px; text-align: left; font-weight: 700;}
.x_serv_item:hover .title{color:#333;}
.formbox hr {margin: 15px 0;}
.formbox p {font-size: 14px;}
.checked {vertical-align: middle; margin-top: -7px;}
.label {
display: inline;
padding: .2em .6em .3em;
font-size: 75%;
font-weight: 700;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}
.label-success {
background-color: #5cb85c;
}
.label-danger {
background-color: #d9534f;
}
.label-info {
background-color: #5bc0de;
}
.btn-default {
color: #333;
background-color: #fff;
border-color: #ccc;
background-image: none;
text-shadow: none;
}
.btn-xs{
padding: 1px 5px;
font-size: 12px;
line-height: 1.5;
border-radius: 3px;
}
.btn-pad40{
  padding-left: 40px;
  padding-right: 40px;
}
.x_b_icon {margin-bottom: 15px;}
.x_b_icon img{cursor: pointer; -webkit-transition: 300ms; -moz-transition: 300ms; transition: 300ms;}
.x_b_icon img:hover {-webkit-transform: translate(0, -2px); -moz-transform: translate(0, -2px); transform: translate(0, -2px);}
.x_b_icon:hover h4{color: #333;}

/* 登录页面，隐私政策弹窗*/
.boxy-btn1 {
  background-color: #d75757;
  border-color: #891524;
}
.boxy-btn1:hover {
  background-color: #891524;
}
.boxy-btn3 {
  float: left;
}
.c-confirm .con {
  line-height: 24px;
  text-align: left;
  padding: 20px;
  margin-bottom: 0;
}
.c-pop .btn-wrap {
  height: 32px;
  margin-bottom: 0;
}
/* 选择学院 */
.list-box{
   border: 1px solid #ccc;
   height: auto;
   border-radius: 4px;
   padding: 20px;
   margin-bottom: 20px;
   position: relative;
}
.list-left{
  height: 150px;
  width: 120px;
  float: left;
}
.list-center {
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}
.list-right h6{
  font-size: 16px;
  color:#333;
  margin-bottom: 15px;
}
.list-right p{
  font-size: 12px;
  color: #333;
  line-height: 22px;
  margin-bottom: 20px;
}
.list-right h6 span{
  float: right;
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 1px solid #ccc;
  text-align: center;
}
.list-success{
  color:#5BAF5B;
}
.modal_dialog{
  margin-left: -200px;
}
.list-error{
  color:#aaa;
}
.list-right h6 span i{
  line-height: 20px;
}
.list-box img {
  margin-right: 30px;
}
.text-center{
  text-align: center;
}

.list-btn{
  padding: 5px 10px;
}
.list-right a{
  color: #999;
  font-size: 12px;
  position: absolute;
  right: 20px;
  bottom: 15px;
}

/* 保卫处的信 */
.letter-p {
  font-size: 16px;
  text-indent: 2em;
  color: #333;
  line-height: 22px;
  margin-bottom: 5px;
}

.disabled-btn{
  background: #dddddd !important;
  border: 1px solid #ddd;
}

#timeOut {
  color: #d75757;
  font-size: 14px;
}

.letter-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 30px;
}

.letter-container{
  width: 945px !important;
}

/*选择身份*/
#check-user .check-list{
  height: 250px;
  width: 70%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
}
#check-user .check-list img{
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}
#check-user .check-list h6{
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}
#check-user .check-list p{
  font-size: 12px;
  line-height: 22px;
  color: #333;
  margin-bottom: 0px;
  text-align: left;
  height: 95px;
}
/* 文章样式
==================================*/
.y-card.article-container { color: #333; }
.article-container .a-section { margin-bottom: 10px; font-size: 12px; line-height: 22px; }
.article-container .a-section .a-header { font-size: 16px; font-weight: bold; line-height: 42px; }
.article-container .a-list { margin-left: 20px; }
.article-container .a-list.first { list-style: disc; }
.article-container .a-list.second { list-style: circle; }
.article-container .a-list.third { list-style: square; }
.article-container .a-list.four { list-style: none; }
@media (max-width: 769px) {
  .article-container {
    width: 100% !important;
  }
  .diff_left_p{
    width: auto;
  }
  .footer .container {
    width: 100%;
  }
  .letter-container{
    width: 100% !important;
    padding:0 20px;
    box-sizing: border-box;
  }
  .list-left{
    width: 100px;
    height: 100px;
  }
  .list-box{
    height:auto;
  }
  .letter-p {
    font-size: 14px;
  }
  .letter-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .list-container .modal_dialog{
    width: 300px;
    margin-left: -150px;
  }
  #check-user .check-list{
    height: auto;
    margin-bottom: 20px;
    width: 90%
  }
  #check-user .check-list p{
    height: auto;
    margin-bottom: 10px;
  }
  .modal-dialog {
    width: 100% !important;
  }
}
.ude_line{
  text-decoration: underline;
}
.ude_line:hover{
  text-decoration: underline;
}

