
/*
@media screen and(-webkit-min-device-pixel-ratio:0){} chrome
filter: alpha(opacity=100);
pointer-events: none;	//	鼠标穿透
hidefocus = "true"	//	ie a标签属性 超链接不显示周围的虚线
*/
/*	竖排文字
.writing-vertical{
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	writing-mode: tb-rl;
}
*/

/*	多行文本省略号
.multi-ellipsis{ overflow: hidden; text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}
*/

@font-face { font-family: 'impact';
	src: url('../font/impact.eot');
	src: url('../font/impact.eot') format('embedded-opentype'),
		url('https://www.ruc.edu.cn/Public/static/themes/zgrmdxzw/arts/fonts/impact.woff') format('woff'),
		url('../font/impact.ttf') format('truetype'),
		url('../font/impact.svg') format('svg');
}

@font-face { font-family: 'avian';
	src: url('../font/AvianRegular1.eot');
	src: url('../font/AvianRegular1.eot') format('embedded-opentype'),
		url('../font/AvianRegular1.woff') format('woff'),
		url('../font/AvianRegular1.ttf') format('truetype'),
		url('../font/AvianRegular1.svg') format('svg');
}

@font-face {
	font-family: 'avignon';
	src: url('../font/avignonbold.eot');
	src: url('../font/avignonbold.eot') format('embedded-opentype'),
		url('../font/avignonbold.woff') format('woff'),
		url('../font/avignonbold.ttf') format('truetype'),
		url('../font/avignonbold.svg') format('svg');
}

@font-face { font-family: "artfont";
	src: url('../font/iconfont1.eot'); /* IE9*/
	src: url('../font/iconfont1.eot') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/iconfont1.woff') format('woff'), /* chrome, firefox */
		url('../font/iconfont1.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
		url('../font/iconfont1.svg') format('svg'); /* iOS 4.1- */
}
