
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,tr,td,img,div,dl,dt,dd,span{padding:0; border:none;}
body{color:#4C4C4C;font-size:12px;font-family:"΢���ź�";widtd:100%; background:#f0f0f0;}
ul,ol{list-style-type:none;}
select,input,img{vertical-align:middle;}
a{text-decoration:none;}
.clearit{clear:both; font-size:0;height:0;width:0;padding:0;margin:0;border:0;}
.bh-clear{clear:both;}
.bh-space{height:10px;clear:both;}

/*====================================ѧУ���======================================*/
.bh-wzm-rd-all{width:980px;margin:0 auto;padding-left:20px;padding-top:20px;padding-bottom:20px;}

.hj-wzm-rd-top{width:960px;height:11px; background:url(../image/top.png) no-repeat;}
.hj-wzm-rd-content{width:960px; background:#FFF;padding-bottom:10px; min-height:500px;}
.hj-wzm-title{padding:20px 0 20px 36px; border-bottom:1px #CCC dashed;}

.hj-wzm-title a{width:106px;height:36px;display:inline-block; text-align:center; line-height:36px; color:#a20c27; font-size:16px;}

/* .hj-wzm-title .rdjj:hover{background:url(../images/rdjj-1.png);width:106px;height:36px;display:inline-block;color:#fff !important; }
.hj-wzm-title .xbjs:hover{background:url(../images/xbjs-1.png);width:106px;height:36px;display:inline-block;color:#fff !important; }
.hj-wzm-title .dsfc:hover{background:url(../images/dsfc-1.png);width:106px;height:36px;display:inline-block;color:#fff !important; } */
/* .hj-wzm-title a:hover{width:106px;height:36px;display:inline-block; text-align:center; line-height:36px;  border-bottom:2px solid #a20c27;font-size:16px;} */

.hj-wzm-title .hj-wzm-rd-ts-a{width:106px;height:36px; background:#a20c27; display:inline-block; text-align:center; line-height:36px; color:#FFF !important; font-size:16px;}


.hj-wzm-rd-content .hj-wzm-rd-p1{width:890px;margin:10px auto; color:#ab8a6c; line-height:22px; font-size:12px;}
.hj-wzm-rd-content .hj-wzm-rd-p2{width:890px;margin:20px auto; text-align:center;}
.hj-wzm-rd-content .hj-wzm-rd-p3{width:890px;margin:10px auto;color:#ab8a6c; line-height:22px;font-size:12px;}



.hj-wzm-rd-bottom{width:960px;height:12px; background:url(../image/bottom.png) no-repeat;}


/*====================================��ʦ���======================================*/

.hj-wzm-rd-fc-left{padding:30px 0 0 36px;width:423px; float:left;}

.hj-wzm-rd-fc-left h2{color:#ab8a6c; font-size:14px; font-weight:normal;} 

.hj-wzm-rd-fc-left dl{width:190px;height:60px;margin-top:20px;margin-right:20px; float:left; }
.hj-wzm-rd-fc-left dl dt{ float:left;}
.hj-wzm-rd-fc-left dl dt img{width:56px;height:56px; border:1px #948e73 solid;}
.hj-wzm-rd-fc-left dl dd{ float:left;margin-left:10px;color:#ab8a6c; line-height:15px;margin-top:5px;width:122px;}
.hj-wzm-rd-fc-left dl dd a{color:#593939; font-weight:bolder; font-size:14px;}



/*====================================ѧ������======================================*/


.hj-wzm-rd-content1{width:960px; background:#fffbee;padding-bottom:10px;min-height:800px; }

.hj-wzm-title1{padding:20px 0 20px 36px; border-bottom:1px #CCC dashed; background:#FFF;}

.hj-wzm-title1 .hj-wzm-rd-ts-a1{width:106px;height:36px; background:#a20c27; display:inline-block; text-align:center; line-height:36px; color:#FFF !important; font-size:16px;}
.hj-wzm-title1 a{width:106px;height:36px;display:inline-block; text-align:center; line-height:36px; color:#a20c27; font-size:16px;}
.hj-wzm-title1 a:hover{width:106px;height:36px; background:#a20c27; display:inline-block; text-align:center; line-height:36px; color:#FFF !important; font-size:16px;}

.hj-wzm-xbjs-left{width:260px;min-height:780px; background:#fffbee; float:left;}

.hj-wzm-xbjs-img{margin:10px 0px 0 25px;}

.hj-wzm-ul1 ul li{heght:40px; width:220px; line-height:40px; border-bottom:1px #ab8a6c solid;margin-left:25px;}
.hj-wzm-ul1 ul li a{heght:40px; color:#CCB18E;}
.hj-wzm-ul1 ul li a span{ float:right;margin-right:4px;}

.hj-wzm-ul1 ul li a:hover{ background:url(../image/left-nav-trans-bg.png) no-repeat bottom  #FFF;width:220px; height:40px; display:inline-block; border:none; font-weight:bolder;color:#593939;}

.hj-wzm-ul1 ul li .dcl-ul-a-left{ background:url(../image/left-nav-trans-bg.png) no-repeat bottom  #FFF;width:220px; height:40px; display:inline-block; border:none; font-weight:bolder;color:#593939;}






.dcl-nav-two{margin-top:10px;margin-left:125px;width:120px; height:200px; float:right;}

.dcl-nav-two a{width:40px;height:38px; border:1px #cdb28e solid; display:inline-block; text-align:center;color:#ac8a6c;padding-top:2px;margin:10px 0 0 6px;}
.dcl-nav-two a:hover{width:40px;height:38px; border:1px #cdb28e solid;display:inline-block; text-align:center;color:#ffffff; background:url(../image/left-nav2-sprite-bg.png) no-repeat;padding-top:2px;}








.hj-wzm-xbjs-right{width:700px;height:730px; background:url(../image/detail-content-humanities-bg.png) no-repeat #ffffff; float:right;padding-top:50px;}

.dcm-content-dep-cat {width: 639px;float: left;}
.dcmc-dep-cat-name {width: 50px;height: 80px;float: left;margin-left: 19px;color: #AB8A6C; font-size: 14px;line-height: 20px;}
.dcmc-dep-cat-name span {height: 25px;float: left;color: #AB8A6C;font-size: 14px;line-height: 25px;}
.dcmc-dep-cat-name span.count {height: 40px;font-size: 36px;line-height: 40px;border-bottom: 2px solid #AB8A6C;text-align: center;}
.dcmc-dep-cat-list {width: 560px;float: left;margin-left: 20px;}
.dcmc-dep-cat-list1 {width: 560px;float: left;margin-left: 90px;}


.dcmc-dep-cat-list-dotted {margin-bottom: 20px;padding-bottom: 29px;border-bottom: 1px dotted #AB8A6C; margin-left:92px;}
.dcmc-dep-cat-list ul {width: 560px;float: left;border-top: 1px solid #FFEEC6;}
.dcmc-dep-cat-list ul li {width: 180px;height: 40px;float: left;}
.dcmc-dep-cat-list ul li.long {width: 560px;}
.dcmc-dep-cat-list ul li, .dcmc-dep-cat-list ul li a {font-size: 14px;color: #AB8A6C;line-height: 40px;}
.dcmc-dep-cat-list ul li a:hover {color: #593939;}
.dcmc-dep-cat-list-ins {width: 320px;float: left;}
.dcmc-dep-cat-list-ins-name {width: 320px;height: 30px;font-size: 14px;line-height: 30px;color: #593939;float: left;font-weight: 700;}
.dcmc-dep-cat-list-ins-link {width: 320px;height: 20px;float: left;}
.dcmc-dep-cat-list-ins-link a {font-size: 12px;line-height: 20px;color: #CCB18D;font-style: italic;}
.dcmc-dep-cat-list-ins-link a:hover {text-decoration: underline;}
.dcmc-dep-cat-list-ins-desc {width: 320px;float: left;margin: 10px 0;font-size: 12px;line-height: 20px;color: #AB8A6C; //padding-bottom:20px;//border-bottom: 1px dotted #AB8A6C;}
.dcmc-dep-cat-list-ins-desc a {color: #CCB18D;}
.dcmc-dep-cat-list-ins-subject {width: 320px;float: left;color: #AB8A6C; font-size: 12px;line-height: 20px;}
.dcmc-dep-cat-list-ins-subject span {font-size: 12px;line-height: 20px;color: #AB8A6C;font-weight: 700;float: left;margin-right: 10px;}
.dcmc-dep-cat-list-ins-subject a {font-size: 12px;line-height: 20px;color: #AB8A6C;margin-right: 12px;display:inline;}
.dcmc-dep-cat-list-ins-subject a:hover {text-decoration: underline;}
.dcmc-dep-cat-list-people {width: 220px;float: right;margin-top:65px;}
.dcmc-dep-cat-list-people a.more {float: right;}
.dcmc-dep-cat-list-people ul {float: left;width: 220px;border-top: none; }
.dcmc-dep-cat-list-people ul li {border-bottom: 1px dotted #CCB18E;float: left;margin-bottom: 10px; padding-bottom: 9px;width: 220px;height: auto;}
.dcmc-dep-cat-list-people ul li img { border: 1px solid #333333;float: left;height: 58px;width: 58px;}
.dcmc-dep-cat-list-people ul li a {color: #AB8A6C; float: right;font-size: 12px;height: auto;line-height: 20px;width: 150px;}
.dcmc-dep-cat-list-people ul li a:hover {color: #593939;}
.dcmc-dep-cat-list-people ul li a span {color: #593939;font-weight: 700;margin-left: 8px;}
.dcmc-dep-cat-list-people a.more {color: #AB8A6C;float: right;font-size: 12px;font-weight: 700;height: 20px;line-height: 20px;margin-right: 10px;text-align: right;width: 100px;}
.dcmc-dep-cat-list-people a.more:hover {color: #593939;}
.dcmc-dep-cat-list-long {float: left; width: 560px;}
.dcmc-dep-cat-list-long-name {color: #593939;float: left; font-size: 14px;font-weight: 700;height: 30px;line-height: 30px;width: 560px;}
.dcmc-dep-cat-list-long-link {float: left;height: 20px; width: 560px;}
.dcmc-dep-cat-list-long-link a {color: #CCB18D;font-size: 12px;font-style: italic;line-height: 20px;}
.dcmc-dep-cat-list-long-desc {color: #AB8A6C;float: left;font-size: 12px;line-height: 20px; margin-top: 10px;width: 560px;}
.dcmc-dep-cat-list-long-desc a {color: #593939;}
.dcm-content-dep-cat-partners {width: 639px;float: left;padding-bottom: 30px;margin-left: -15px;padding-right: 30px;}
.dcmc-dep-cat-name-partners {width: 100px;height: 80px;float: left;margin-left: 19px;}
.dcmc-dep-cat-name-partners span {height: 25px;float: left;color: #AB8A6C;font-size: 14px;line-height: 25px;width:80px;       text-align: center;}
.dcmc-dep-cat-name-partners span.count {height: 40px;font-size: 36px;line-height: 40px;border-bottom: 2px solid #AB8A6C;}
.dcmc-dep-cat-list-partners {width: 500px;float: right;margin-right: 20px;}
.dcmc-dep-cat-list-partners h1 {width:500px; height:30px;float:left;font-size:16px; line-height:30px;color:#593939;font-weight:700;}
.dcmc-dep-cat-list-partners ul {width: 500px;float: left;}
.dcmc-dep-cat-list-partners ul li {width: 500px;height: 20px;float: left;}
.dcmc-dep-cat-list-partners ul li a {font-size: 14px;color: #AB8A6C;line-height: 20px;}
.dcmc-dep-cat-list-partners ul li a:hover {color: #593939;}
.section {display:none;}
.department-list-programs li {font-size: 14px !important;color: #AB8A6C;line-height: 20px;}
.department-list-programs li a{font-size: 12px;color: #AB8A6C;line-height: 20px;font-style:italic;margin-left:5px;}


/*====================================��ʦ���======================================*/
.hj-wzm-jsfc-right{width:930px;min-height:360px; float:left; background:url(../image/detail-content-teachers-bg.png) no-repeat #FFF;padding:6px 30px 40px 0;}
.hj-wzm-jsfc-a a{color:#CCB18C; float:right;margin:0 6px; font-size:14px;}
.hj-wzm-jsfc-a .hj-wzm-jsfc-a1{ font-size:16px;}
.hj-wzm-jsfc-a .hj-wzm-jsfc-a2{ font-size:14px;}
.hj-wzm-jsfc-a .hj-wzm-jsfc-a3{ font-size:13px;padding-right:30px;padding-top:15px;}



.hj-wzm-jsfc-content{margin:50px 0 0 6px; }

.hj-wzm-jsfc-content-left{width:240px;height:296px; float:left; }
.hj-wzm-jsfc-content-left1{ background:url(../image/dcm-fix-trans-bg.png) no-repeat; float:left; overflow:hidden; width:4px;height:80px;}
.hj-wzm-jsfc-content-left2{ float:right;width:192px;height:280px; background:url(../image/leaderpix-bg.png) no-repeat;padding:8px;}
.hj-wzm-jsfc-content-left2 img{width:192px;height:280px;}
.hj-wzm-jsfc-content-left2 p{margin-top:20px; float:right; color:#593939;}


.hj-wzm-jsfc-content-right{ float:right;width:650px;color:#AB8A6C; line-height:20px;padding-right: 30px;}

/*====================================ѧ������������ʽ======================================*/

.dcmc-dep-cat-list-dotted {margin-bottom: 20px;padding-bottom: 29px;border-bottom: 1px dotted #AB8A6C; margin-left:96px;}

.dcmc-dep-cat-name {width: 50px;height: 80px;float: left;color: #AB8A6C; font-size: 14px;line-height: 20px; background:url(../image/dcm-fix-trans-bg.png) no-repeat left center;margin-left:6px;padding-left:20px;}

.hj-wzm-xbjs-right-renwen{width:700px;height:1250px; background:url(../image/detail-content-humanities-bg.png) no-repeat #ffffff; float:right;padding-top:50px;}

.hj-wzm-xbjs-right-shehui{width:700px;height:1150px; background:url(../image/detail-content-sociology-bg.png) no-repeat #ffffff; float:right;padding-top:50px;}

.hj-wzm-xbjs-right-jingji{width:700px;height:2320px; background:url(../image/detail-content-economics-bg.png) no-repeat #ffffff; float:right;padding-top:50px;}

.hj-wzm-xbjs-right-fazheng{width:700px;height:1150px;background:url(../image/detail-content-lp-bg.png) no-repeat #ffffff; float:right;padding-top:50px;}

.hj-wzm-xbjs-right-ligong{width:700px;height:800px;background:url(../image/detail-content-st-bg.png) no-repeat #ffffff; float:right;padding-top:50px;}

.dcmc-dep-cat-list-ins-link span{font-size: 12px;line-height: 20px;color:#AB8A6C;}

.hj-wzm-xbjs-right-qita{width:700px;height:1050px;background:url(../image/detail-content-other-bg.png) no-repeat #ffffff; float:right;padding-top:50px;}

.hj-wzm-xbjs-right-quanbu{width:700px;height:7200px;background:url(../image/detail-content-all-bg.png) no-repeat #ffffff; float:right;padding-top:50px;}


/*====================================首页======================================*/


.hj-wzm-rd-xwq-all{width:470px;height:210px;}
.hj-wzm-rd-xwq-all-left{width:1px;height:210px; float:left;}
.hj-wzm-rd-xwq-all-center{width:468px;height:210px; float:left; background:url(../image/mk-bg.png) repeat-x;}

.hj-wzm-rd-title{padding:12px 0 0 10px;}
.hj-wzm-rd-title a{ float:right;color:#ccb18c !important;margin:2px 10px 0 0;}



.hj-wzm-rd-xwq-all-center ul{padding:24px 0 0 20px;}
.hj-wzm-rd-xwq-all-center ul li{ line-height:29px;}
.hj-wzm-rd-xwq-all-center ul li a{color:#ffeec6 !important;}
.hj-wzm-rd-xwq-all-center ul li a:hover{color:#fff2d5 !important;}
.hj-wzm-rd-xwq-all-center .hj-wzm-rd-li-a a{color:#fff2d5 !important;}


.hj-wzm-rd-xwq-all-right{width:1px;height:210px; float:left;}

/*==========================================================================*/

/*====================================新闻详情页======================================*/
.hj-wzm-rd-xwq-top-banner{margin:0 auto;width:1000px;height:91px;}

.hj-wzm-rd-xwq-xqy{margin:0 auto;width:959px;}
.hj-wzm-rd-xqy-top{height:9px;width:959px;}

.hj-wzm-rd-xqy-middle{width:959px; background:#fffbee; padding-bottom:1px;}

.hj-wzm-rd-yindao{color:#63212b;margin-left:35px;padding-top:10px;}
.hj-wzm-rd-yindao a{color:#63212b;}
.hj-wzm-rd-xqy-title{margin-top:10px; font-size:14px; font-weight:normal;color:#63212b; border-bottom:1px dashed #c0c0c0;padding:0 0 20px 35px;}
.hj-wzm-rd-xqy-title p{margin-top:14px; font-size:12px; font-weight:normal;color:#999999;}

.hj-wzm-rd-xq-content{margin:24px auto;width:828px; text-align:center;}
.hj-wzm-rd-xq-content p{ text-align:left;color:#666666; line-height:24px;text-indent:2em;}
.hj-wzm-rd-xq-content img{width:500px;height:333px; text-align:center;margin-top:20px;}

.hj-wzm-rd-xqy-bottom{height:9px;width:959px;}

/*====================================新闻列表页======================================*/

.hj-wzm-rd-xwlb-middle{width:959px; background:#fffbee; padding-bottom:1px;}

.hj-wzm-rd-xwlb-middle h2{font-family:"微软雅黑"; font-weight:100;color:#850019; font-size:20px; border-bottom:1px #650013 dashed;padding:10px 0px 12px 20px;}
.hj-wzm-rd-xwlb-middle h2 span{font-family:"微软雅黑"; font-weight:normal;color:#63212b; font-size:14px;margin-left:6px;}

.hj-wzm-rd-xwlb-middle ul{margin-top:10px;}

.hj-wzm-rd-xwlb-middle ul li span{ float:right;margin-right:30px;}

.hj-wzm-rd-xwlb-middle ul li{ background:url(../image/yuandian.png) no-repeat 1.5% center; line-height:40px;  border-bottom:1px #cecece dashed;padding-left:30px;}

.hj-wzm-rd-xwlb-middle ul li a{color:#666666;}

/*====================================英语说明页面======================================*/
.hj-wzm-renda-all{width:100%;}
.hj-wzm-renda-all-one{width:1580px;height:90px;margin:0 auto;}
.hj-wzm-renda-all-one img{margin:18px 0 0 60px;float:left;}
.hj-wzm-renda-one-nav{float:left;margin:34px 0 0 200px;}
.hj-wzm-renda-one-nav a{font-size:20px;color:#666;margin:0 60px;height:54px;display:inline-block;}
.hj-wzm-renda-one-nav a:hover{font-size:20px;color:#666;margin:0 60px;border-bottom:2px solid #b0112e;color:#b0112e;height:54px;}
.hj-wzm-renda-one-nav .hj-wzm-renda-a1{font-size:20px;color:#666;margin:0 60px;border-bottom:2px solid #b0112e;color:#b0112e;height:54px;}
.hj-wzm-renda-all-two{height:320px;margin:0 auto;background:url(../image/banner1.png) no-repeat 50% 50%;}
.hj-wzm-renda-all-three{width:1200px;margin:50px auto;font-size:16px;line-height:36px;}
.hj-wzm-renda-all-four{width:1200px;margin:40px auto;font-size:18px;}
.hj-wzm-renda-all-four h2{width:1170px;height:62px;background:url(../image/titlelogo.png) no-repeat right center #b0112e;color:#FFF;font-size:20px;font-weight:normal;line-height:62px;padding-left:30px;text-transform:uppercase;}
.hj-wzm-renda-all-four p{width:1120px;margin:40px auto;font-size:16px;line-height:36px;}
.hj-wzm-renda-all-four p span{font-weight:bolder;}
.hj-wzm-renda-all-five{width:1200px;margin:40px auto;font-size:18px;}
.hj-wzm-renda-all-five h2{width:1170px;height:62px;background:url(../image/titlelogo.png) no-repeat right center #b0112e;color:#FFF;font-size:20px;font-weight:normal;line-height:62px;padding-left:30px;text-transform:uppercase;margin-bottom:30px;}
.hj-wzm-renda-five-jies{width:1120px;margin:0px auto;}
.hj-wzm-renda-five-jies ul{line-height:30px;font-size:16px;}
.hj-wzm-renda-five-jies ul li{height:60px; border-bottom:1px #e5e5e5 solid;line-height:60px;}
.hj-wzm-renda-five-jies ul li span{margin-left:200px;}
.hj-wzm-renda-five-jies p{width:1120px;margin:0px auto;font-size:16px;line-height:36px;}
.hj-wzm-renda-five-jies p span{font-weight:bolder;}
.hj-wzm-renda-all-copyright{height:185px; margin:0 auto;background:url(../image/copyright1.png) no-repeat 50% 50%;text-align:center;color:#FFF;font-size:16px;padding-top:40px;}
.hj-wzm-renda-all-copyright h2{text-align:center;color:#FFF;font-size:34px;margin-top:20px;}
.hj-wzm-renda-all-copyright p{text-align:center;color:#FFF;font-size:16px;margin-top:0px;line-height:26px;}